.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.75);
}

.invite-form {
    position: absolute;
    width: 40%;
    background-color: white;
    margin: 0 auto;
    padding: 2px;
    padding-top: 20px;
    margin-top: 10%;
    height: 300px;
    z-index: 999;
    margin-left: 30%;
}

.btn-invt {
    margin-top: 10%;
}

@media (max-width: 620px) {
    .invite-form {
        width: 80%;
        margin-left: 10%;
    }
}
